<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnose</title>
</head>
<body>
<form action="/api/diagnosis/add-medical-records" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
        <span>Patient ID</span>
        <input name="patient_id" type="text">
    </div>
    <div class="file-field input-field">
        <div class="btn grey">
            <span>File</span>
            <input name="file_name" type="file">
        </div>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>